{% extends 'layout.html' %}

{% block body %}
  <h1>Your Runway <small> Welcome {{session.email}}</small></h1>
  <hr>
  <p>{{runway_calc}}</p></br>
    <p>{{to_do}}</p>
  </br>
  {% for todo in to_do %}
  <h1>{{to_do.to_do_name}}</h1>
  {% endfor %}
  {% for thing in runway_calc %}
  <h1>{{runway_calc.id}}</h1>
  <p>{{runway_calc.item_id}}</p>
  <p>{{runway_calc.item_amount}}</p>
  <p>{{runway_calc.item_item_type_id}}</p>
  {% endfor %}
  <h3>You could make it {{runway_calc[4]}} months without income.</h3>
  </br>
  <table class="table table-striped">
    <tr>
      <th></th>
      <th>Total</th>
    </tr>
      <tr>
        <td>Expenses</td>
        <td>{{runway_calc[0]}}</td>
      </tr>
      <tr>
        <td>Assets</td>
        <td>{{runway_calc[1]}}</td>
      </tr>
      <tr>
        <td>Debt</td>
        <td>{{runway_calc[2]}}</td>
      </tr>
      <tr>
        <td>Income</td>
        <td>{{runway_calc[3]}}</td>
      </tr>
  </table>
  </br>
  <h2>Goal #2: Super Emergency Fund</h2>
  <p>If you have an emergency like losing your job or an unexpected medical bill, it would be good to have some cash saved up.</p>
  <h3>{{runway_calc[5]}}</h3>
  </br>
  <h2>Goal #4: Six Month Emergency Fund</h2>
  <p>If you have a longer term emergency, it would be good to have some cash saved up so you have time to find a new job you love.</p>
  <h3>{{runway_calc[6]}}</h3>
{% endblock %}